{
    "verbose": false,
    "cost_per_kWh": 0.03,


    "btc_growth": "linear",
    "btc_linear_slope": 5000, 
    "btc_log_slope": 9E9,
    "btc_pool_hash": 56611000,
    "btc_pool_fee": 0.01,
    "btc_avg_transaction_fee": 0.415,
    "btc_transaction_fee_growth": 0.0005,


    
    "init_invest": 0,
    "total_miners": 24,
    "months_with_free_electric": [0,1,2,3,11,12]

}